@use "../../variables" as vars;
@use "../../mixins" as *;

.site-description {
  max-width: 37.5em;
  margin: 0 auto;
  padding: vars.$spacing-4 0;
  font-weight: 500;
}

.main-content {
  position: relative;

  &__preview-wrapper {
    position: relative;
    width: 100%;
    max-width: 37.5em;
    margin-inline: auto;
    border: 2px dashed vars.$color-stone-200;
  }

  &__preview {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  &__preview-frame {
    display: flex;
    position: absolute;
    inset: 0;
  }

  &__preview-canvas {
    position: absolute;
    width: 37.5em;
    height: 37.5em;
  }
}
