@import "tailwindcss";

@theme {
  --color-primary-50: #effef3;
  --color-primary-100: #dbfde6;
  --color-primary-200: #b9f9cc;
  --color-primary-300: #82f3a6;
  --color-primary-400: #44e477;
  --color-primary-500: #1ccb54;
  --color-primary-600: #12b848;
  --color-primary-700: #118437;
  --color-primary-800: #13682f;
  --color-primary-900: #125529;
  --color-primary-950: #033014;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .main-container {
    @apply mx-auto max-w-5xl px-4 sm:px-6 lg:px-8;
  }

  button {
    @apply relative cursor-pointer;
    @apply transition-colors duration-200 ease-in-out;
    @apply outline-none focus:outline-hidden;
    @apply inline-flex items-center justify-center;
  }

  .icon-btn {
    @apply hidden h-12 w-12 md:inline-flex;
    @apply rounded-full border-2 p-2 text-lg;
    @apply border-primary-600 text-primary-600 hover:bg-primary-600 hover:text-white;
    @apply hover:ring-primary-200 hover:ring-4;
  }

  .text-btn {
    @apply md:hidden;
    @apply h-10 rounded-lg border-2 px-4;
    @apply font-semibold;
    @apply bg-primary-600 border-primary-600 hover:text-primary-600 text-white hover:bg-white;
    @apply focus:ring-primary-600 focus:ring-2 focus:ring-offset-2;
  }

  .text-btn.outlined {
    @apply border-primary-600 text-primary-600 hover:bg-primary-600 bg-white hover:text-white;
    @apply focus:ring-primary-600 focus:ring-2 focus:ring-offset-2;
  }

  .random-btn {
    @apply h-16 w-16 rounded-full p-2;
    @apply text-xl;
    @apply bg-primary-600 hover:bg-primary-500 text-white;
    @apply hover:ring-primary-200 hover:ring-4;
    @apply transform transition-transform;
    @apply active:scale-90 active:rotate-[270deg];
  }
}

:root {
  --kdc-color: var(--color-primary-600);

  --kdc-blob-t: -7.583rem;
  --kdc-blob-r: -7.583rem;
  --kdc-blob-w: 26.979rem;
  --kdc-blob-h: 21.875rem;
  --kdc-sideauth-block-pl: 4.667rem;
  --kdc-sideauth-text-fs: 1.021rem;
  --kdc-sideauth-text-lh: 1.458rem;
  --kdc-sideauth-text-ls: 0.613rem;
  --kdc-sideauth-text-to: 1.458rem;
  --kdc-sideauth-line-w: 7.292rem;
  --kdc-sideauth-line-mr: 3.5rem;
  --kdc-couplet-content-p: 0 1.167rem 1.313rem 8.167rem;
  --kdc-couplet-text-fs: 3.5rem;
  --kdc-couplet-text-lh: 5.25rem;
  --kdc-quote-block-ml: -1.458rem;
  --kdc-quote-block-mb: 1.75rem;
  --kdc-quote-w: 8.75rem;
  --kdc-quote-h: 8.75rem;
  --kdc-author-sign-block-mt: 1.313rem;
  --kdc-author-sign-text-fs: 1.75rem;
  --kdc-author-sign-text-lh: 2.333rem;
  --kdc-author-sign-underline-l: 5.833rem;
  --kdc-author-sign-underline-w: 7.292rem;
  --kdc-author-sign-underline-h: 0.657rem;
  --kdc-website-info-mt: 1.458rem;
  --kdc-website-info-fs: 0.875rem;
  --kdc-website-info-lh: 1.167rem;
}
