@use "../../variables" as vars;
@use "../../mixins" as *;

.options-box {
  display: flex;
  flex-direction: column;
  margin-top: vars.$spacing-4;
  margin-bottom: vars.$spacing-4;
  padding: vars.$spacing-2 0;
  border-radius: vars.$radius-lg;
  background-color: vars.$color-white;
  gap: vars.$spacing-4;

  @include md {
    position: sticky;
    z-index: vars.$z-sticky;
    bottom: vars.$spacing-4;
    flex-direction: row;
    align-items: center;
    margin: vars.$spacing-8;
    padding-block: vars.$spacing-3;
    padding-inline: vars.$spacing-6;
    border: 1px solid vars.$color-stone-200;
    box-shadow: vars.$shadow-lg;
    gap: vars.$spacing-4;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-4;

    @include md {
      flex: 1;
      flex-direction: row;
      align-items: center;
      gap: vars.$spacing-2;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: vars.$spacing-3;

    .text-btn {
      width: 100%;
    }

    @include md {
      flex-shrink: 0;
      justify-content: center;
      margin-top: 0;
      gap: vars.$spacing-3;
    }
  }

  &__random-wrapper {
    display: none;

    @include md {
      display: inline-flex;
    }
  }
}
